* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
}

.nav {
  height: 100px;
  background-color: #35424a;
  border-bottom: 5px solid #e8491d;
}

.nav__navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
